<h1 class="text-baseColor text-center text-2xl">Group created successfully</h1>
<h4 class="text-baseColor text-center text-lg"><%= title %></h4>
<p class="text-link text-center text-lg mb-48"><%= link %></p>
<%= image_tag 'svg/waves-footer.svg', class: "absolute max-w-none w-screen bottom-0 left-0" %>
