<div>
  <% unless @users.empty? %>
    <ul>
      <% @users.each do |u| %>
      <li><%= u.username %></li>
    <% end %>
    </ul>  
    <%= @drawed_participant %>
    <button>Draw participants</button>
  <% else %>
    <p>There's no more participants to sort</p>
  <% end %>
</div>